openapi: 3.0.1
info:
  title: STD21060 API
  description: Global description of my API
  version: 1.0.0
servers:
  - url: https://STD21060.com
tags:
  - name: Students
  - name: Courses
paths:
  /students:
    get:
      tags:
        - Students
      operationId: getStudents
      summary: Get all students
      description: Get all students with details
      responses:
        '200':
          description: List of students
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Student'
        '400':
          description: Bad request
    post:
      tags:
        - Students
      operationId: createStudent
      summary: Create new student
      description: Create new student
      requestBody:
        description: Student to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStudent'
        required: true
      responses:
        '200':
          description: List of students
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'
        '400':
          description: Bad request
  /courses:
    get:
      tags:
        - Courses
      summary: Get all list courses
      description: Get courses
      operationId: get list courses\
      parameters:
        - name: page
          in: query
          required: true
          schema:
            type: integer
        - name: page-size
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: List of courses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Courses'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                example:
                  code: 400_bad_request
                  message: Parameter are missing
    post:
        tags:
          - Courses
        operationId: createCourses
        summary: Create new courses
        description: Create new student
        requestBody:
          description: Courses to be created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCourses'
          required: true
        responses:
          '200':
            description: List of Courses
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Courses'
          '400':
            description: Bad request                
  /courses/{id}:                
    get:
      tags:
        - Courses
      summary: Get Specified courses
      description: Get Specified courses
      operationId: Get Specified courses
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: List of courses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoursesId'
        '400':
          description: Bad request
  
components:
  schemas:
    CreateStudent:
      type: object
      properties:
        name:
          type: string
          example: Rakoto
        birth_date:
          type: string
          format: date
          example: '2022-01-01'
    Student:
      allOf:
        - $ref: '#/components/schemas/CreateStudent'
      type: object
      properties:
        id:
          type: integer
          example: 10
    CreateCourses:
      type: object
      properties:
        name:
          type: string
          example: EL1P1
        teacher:
          type: string
          example: Rakoto
        created_date_time:
          type: string
          format: date
          example: '2022-01-01' 
        id:
          type: integer
          example: 10
    Courses:
      allOf:
        - $ref: '#/components/schemas/CreateCourses'
      type: object
      properties:
        id:
          type: integer
          example: 10
    CoursesId:
      allOf:
        - $ref: '#/components/schemas/CreateCourses'
      properties:
        id:
          type: integer
          example: 10
    
          
